<main role="main">

  <div class="div-cover">
    <div class="container div-content">
      <h1 class="display-3">School of the Future</h1>
      <p class="lead p-shadow">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt expedita ducimus architecto, molestias fuga eveniet temporibus
        suscipit porro magnam consequuntur ipsam autem, culpa dolore perferendis aspernatur delectus. Maxime, temporibus
        quia! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia error quo commodi. Accusamus odio facere similique
        quos quibusdam repellendus atque at? Repudiandae alias deleniti maxime cum at. Officia, enim quas.
      </p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
    </div>

  </div>

</main>