<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">School of the Future</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus at optio obcaecati. Nesciunt unde suscipit delectus
        tempora optio quae minima ducimus eum cupiditate quis magnam, architecto et. Impedit, consequatur. Unde?</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
    </div>
  </div>
</main>