/* register and login form */
.form-register {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-control {
  padding: 10px;
}

.custom-select {
  height: 45px;
  color: #777777;
}

/* cover page */
.div-cover {
  background-image: url('/img/pic.jpg');
  height: 850px;
  padding-top: 12rem;
}

.div-content > h1.display-3, p.p-shadow {
  color: white;
  text-shadow: 2px 2px 5px #212121;
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  background-color: #616161;
}