<form class="form-signin">
  <h2 class="mb-3">Login here</h2>

  <div class="form-label-group">
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  </div>

  <button class="btn btn-lg btn-info btn-block" type="submit">Login</button>
</form>