<form class="form-register">
  <h1 class="h3 mb-3 font-weight-normal">Please register here</h1>

  <div class="form-label-group">
    <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
  </div>

  <div class="form-label-group">
    <input type="text" id="inputUsername" class="form-control" placeholder="Username" required>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
  </div>

  <div class="form-label-group">
    <input type="password" id="inputCpassword" class="form-control" placeholder="Confirm Password" required>
  </div>

  <button class="btn btn-lg btn-info btn-block" type="submit">Register</button>
</form>