<form action="/users/login" method="post" class="form-register">
  <h2 class="mb-3">Register here</h2>

  <div class="row">
    <div class="col-md-6 mb-3">
      <input type="text" name="firstname" value="{{firstname}}" class="form-control" placeholder="First Name">
    </div>
    <div class="col-md-6 mb-3">
      <input type="text" name="lastname" value="{{lastname}}" class="form-control" placeholder="Last Name">
    </div>
  </div>

  <div class="input-group mb-3">
    <select class="custom-select" name="usertype" value="{{usertype}}">
      <option selected>User Type</option>
      <option value="Admin">Admin</option>
      <option value="Adviser">Adviser</option>
      <option value="Faculty">Faculty</option>
    </select>
  </div>

  <div class="form-label-group">
    <input type="text" name="username" value="{{username}}" class="form-control" placeholder="Username">
  </div>

  <div class="form-label-group">
    <input type="password" name="password" class="form-control" placeholder="Password">
  </div>

  <div class="form-label-group">
    <input type="password" name="cpassword" class="form-control" placeholder="Confirm Password">
  </div>

  <button class="btn btn-lg btn-info btn-block" type="submit">Register</button>
</form>